---
layout: default
---

<!-- <h1>{{ page.title }} albuns.html</h1> -->

<!--<h2>Subalbums</h2>-->
<!--
<ul>
  {% assign album = site.data.gallery.albums | where: "name", page.title | first %}
  {% for sub in album.subalbums %}
  <li>
    <a
      href="{{ site.baseurl }}/albums/{{ album.name | downcase | replace: ' ', '-' }}/{{ sub.name | downcase | replace: ' ', '-' }}/">
      {{ sub.name }}
    </a>
  </li>
  {% endfor %}
</ul>
-->

<!-- <h2>Albums index.markdown</h2> -->
<div class="album-grid">
   {% assign album = site.data.gallery.albums | where: "name", page.title | first %}
  {% for sub in album.subalbums %}
    <a href="{{ site.baseurl }}/albums/{{ album.name | downcase | replace: ' ', '-' }}/{{ sub.name | downcase | replace: ' ', '-' }}/"  class="album-card">
      <img src="{{ '/assets/drawings/' | append: sub.images[0].file | relative_url }}" alt="{{ album.name }}">
      <h3>{{ sub.name }}</h3>
    </a>
  {% endfor %}
</div>
